form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

button[type="submit"] {
align-self: center;
  padding: 10px 20px;
  background-color: #007AFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-content: center;
}
